
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 16px;
}

.image {
  border-radius: 32px;
}

.title {
  color: #ffffff;
  /* font-size: 20px; */
  font-weight: 700;
  text-align: center;
}

.blurb {
  color: #ffffff;
  /* font-size: 16px; */
  font-weight: 500;
  text-align: center;
}

.sub {
  color: #ffffff;
  margin-left: 16px;
  margin-right: 16px;
}

.link {
  color: #ffffff;
}

.contactDetails {
  width: calc(100% - 32px - 32px);
  padding: 16px;
  padding-bottom: 11px;
  margin: 0 16px;
  /* max-width: calc(600px - 32px - 32px); */

  background-color: #ffffff;
  border: 2px solid black;
  border-radius: 32px;

  transition: all 250ms ease-in-out;
}

.contactDetails:hover {
  padding-top: 18px;
  padding-bottom: 13px;
  width: calc(100% - 32px);
  margin: 0 0;
  font-size: 18px;
}

.contactSummary {
  cursor: pointer;
  
  display: inline-grid;
  grid-template-columns: 24px auto 24px;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  align-content: center;
  width: 100%;
}

.contactSummary > svg {
  color: #3c4140;
}

.contactSummary:hover > svg {
  color: #2e6c67;
}

/* these are here to force the arrow to be hidden */
.contactDetails,
.contactSummary {
  list-style: none;
}

.contactDetails::-webkit-details-marker,
.contactSummary::-webkit-details-marker {
  display:none;
}